html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

h1 {
  font-family: "Lobster", cursive;
}

html {
  font-family: 'Convergence', sans-serif;
  text-align: center;
}

h2 {
  background-color: #4bc7f2;
}

.color-brand {
  color: #b99aa1;
}

body {
  background-color: #fff;
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
  background-image: url("../images/pattern.svg");
  background-size: 100px auto;
}
span {
  text-align: center;
}
.color-brand-dark {
  color: #f1eaee;;
  font-family: "Lobster", cursive;
}

a {
  color: #000;
}

a:hover {
  color: #113c00;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.masthead {
  background-color: #f1eaee;
font-family: "lobster",cursive;
  color: #f1eaee;
  text-align: center;

}

.opening {
  position: relative;
  max-height: 23.5rem;
  overflow: hidden;
}


.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #000;
  text-decoration: none;
}

.nav {
  position: relative;
  background-color: #f1eaee;
  z-index: 2;
}

.nav a:hover {
  background-color: #fff;
  color: #b99aa1;
}

.nav a:focus {
  outline: 3px solid #f1eaee;
}

.opening {
  position: relative;
  max-height: 23.5rem;
  overflow: hidden;
}

.banner-content {
  color: #000;
  text-align: center;
  font-family: "lobster",cursive;
}

.banner-subhead {
  font-family: 'Convergence', sans-serif;
}

.selection {
  background-color: #f5f2f0;
}

.about {
    background-color: #f5f2f0;
}

.contact {
  background-color: #f5f2f0;
}

.special {
  background-color:#f5f2f0;
}

.team {
  background-color:#f5f2f0;
}
.btn {
  background-color: #113c00;
  border-color: #113c00;

  color: #fff;
}

.btn:hover {
  background-color: #568c36;
  border-color: #568c36;
}

.footer {
  background-color: #53253b;
  color: #fff;
}

@media only screen and (min-width: 35em) {


  .banner-content {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #fff;

    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(185, 154, 161, 0), rgba(86, 68, 73, .8));

  }

}
